<%- include header.ejs %>

<h1><%= title %></h1>
<ul>

    <% for(var i = 0; i < telList.length;i++){ %>
    <li>
        <%= telList[i].name %> <a href="tel:<%= telList[i].tel %>"><%= telList[i].tel %></a>
    </li>
    <% } %>
</ul>

<%- include footer.ejs %>

<script src="/javascripts/jquery.js"></script>
<script>
    var url = '/telList/test';
    $.ajax({
        type: 'GET',
        url: url,
        data: {},
        success: function (data) {
            console.log(data.title);
        },
        dataType: 'json'
    });
</script>